# Genertated by Ansible
# Var file for easy RSA CA

set_var EASYRSA_REQ_CN         "{{ easyrsa_ca_cn }}"
set_var EASYRSA_REQ_COUNTRY    "{{ easyrsa_ca_country }}"
set_var EASYRSA_REQ_PROVINCE   "{{ easyrsa_ca_province }}"
set_var EASYRSA_REQ_CITY       "{{ easyrsa_ca_city }}"
set_var EASYRSA_REQ_ORG        "{{ easyrsa_ca_org }}"
set_var EASYRSA_REQ_EMAIL      "{{ easyrsa_ca_email }}"
set_var EASYRSA_REQ_OU         "{{ easyrsa_ca_ou }}"
set_var EASYRSA_ALGO           "{{ easyrsa_ca_algo }}"
set_var EASYRSA_DIGEST         "{{ easyrsa_ca_digest }}"


